body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #190538;
    color: #FFFFFF;
  }
*{

}
.left{
  float: left;
}
.box {
  width:1000px;
  padding-top:5px;
  border-style:solid;
  border-color:#0d1975;
  border-width:1px;
  padding-left:3px;
  padding-bottom:10px;
}
.pfpbox {
  width:300px;
  padding-top:5px;
  border-style:solid;
  border-color:#0d1975;
  border-width:5px;
  padding:0px;
  float: left;
}
.aboutbox {
  width:600px;
  padding-top:5px;
  border-style:hidden;
  border-color:#0d1975;
  border-width:5px;
  padding-left:10px;
  float: left;
}
.img_box {
  display: grid;
  height: 100%;
}
.fitincenter {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
.top {
  text-align: center;
}
a:link {
  color: #6398f2;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #c836f5;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
